* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #8aa5d4;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Скрываем прокрутку страницы */
}

.container {
    display: flex; /* Располагаем элементы в строку */
    flex-wrap: wrap; /* Переносим элементы на следующую строку на маленьких экранах */
}

#mobileBtnContainer {
    position: absolute;
    top: 20px; /* Отступ от верхнего края окна */
    left: 20px; /* Отступ от левого края окна */
    z-index: 1000; /* Поднятие кнопки выше остальных элементов */
}

#mobileBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#mobileBtn:hover {
    background-color: #0056b3;
}


#left-container {
    margin-right: 20px; /* Отступ справа для расстояния между канвасом и правой частью */
}

.right-container {
    text-align: center; /* Центруем текст и элементы внутри правого контейнера */
    max-width: 300px;
}

#myImage {
    margin: 20px 0; /* Отступы сверху и снизу для изображения */
    max-width: 100%; /* Масштабируем изображение на мобильных устройствах */
    height: auto;
}

.button-container {
    margin: 20px 0; /* Отступы сверху и снизу для контейнера кнопок */
}

.кнопки {
    display: block; /* Каждая кнопка будет на новой строке */
    margin: 5px auto; /* Отступы между кнопками и выравнивание по центру */
    padding: 10px 20px; /* Увеличиваем размер кнопок для удобства на мобильных устройствах */
    font-size: 16px;
}

#score {
    margin-top: 20px; /* Отступ сверху для счёта */
}

canvas {
    border: 1px solid black;
    background-color: #ffffff;
    margin-top: 20px; /* Отступ сверху для канваса */
    max-width: 100%; /* Масштабируем канвас на мобильных устройствах */
    height: auto;
}

#startBtn {
    margin-top: 20px; /* Отступ сверху для кнопки "Начать игру" */
    padding: 10px 20px; /* Увеличиваем размер кнопки для удобства на мобильных устройствах */
    font-size: 16px;
}

/* Медиа-запросы для устройств с шириной экрана менее 768px */
@media (max-width: 768px) {
    #left-container {
        margin-right: 0;
        margin-bottom: 20px; /* Добавляем отступ снизу для канваса на маленьких экранах */
    }

    .right-container {
        max-width: 100%;
    }
}
